* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

main {
    height: calc(100vh - 10vh);
    padding: 100px 100px 0 100px;
    overflow: scroll;
}

footer {
    background-color: grey;

}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-7 {
    width: calc(100%/7);
}

.d-flex{
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* COLONNA SINISTRA DEL FOOTER */
.footer-content :first-child {
    width: 15%;
    background-color: purple;
    height: 10vh;
}

/* COLONNA CENTRALE DEL FOOTER */
.footer-content :nth-child(2) {
    width: 30%;
    background-color: aqua;
    height: 10vh;
}

/* COLONNA DESTRA DEL FOOTER */
.footer-content :last-child {
    width: 15%;
    background-color: brown;
    height: 10vh;
}

.footer-content {
    border: 1px solid black;
}

.content {
    padding: 0px 5px 10px 0px;
}

.content img {
    max-width: 100%;
}